@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
.navbar{
    background-color: #264C64;
    
}
.navbar-brand{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
}
.profile{
    width: 30vh;
    border-radius: 50%;
}
.about_body{
    text-align: center;
}
.button{
    background-color: #114e60;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;

}
.button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #542e71;
    transition: 0.4s;

}