@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
   
    
    
}
.navbar{
    background-color: #c72c41;
    
}
.navbar-brand{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
}
.profile{
    width: 30vh;
    border-radius: 50%;
}
.about_body{
    text-align: center;
    padding: 2.5rem;
}
.button{
    background-color: #114e60;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

}
.button:hover{
    text-decoration: none;
    color: #fff;
    background-color: #542e71;
    transition: 0.4s;

}
h6{
    text-align: left;
    padding-bottom: 20px;
}