@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Marko One', serif;
    background-image: linear-gradient(to top, #9aeaf6, #bbedff, #daf1ff, #f2f7ff, #ffffff);
    
}
h3{
    font-family: 'Marko One', serif;
}
.navbar{
    background-color: #0A192F;
    color: #64FFDA;
}
.navbar-brand{
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    color: #64FFDA;
}

.portfolio_body{
    text-align: center;
    
}
.card{
    color:#0A192F;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 0.5rem;

}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}


.designer{
    text-align: center;
    padding: 4rem 0 0 0;
    
}
.designer a{
    color: #6e7c7c;
    text-decoration: none;
    font-size: smaller;
    opacity: 0.6;
}